.App {
  text-align: center;
  margin: 1%;
  width:520px;
  box-shadow: 20px 0 20px 0 rgb(7, 7, 56);
  background-color:rgb(65, 28, 28);
  color: white;
  font-family: 'Rampart One', cursive;
  border-radius: 7%;
  padding: 15px; 
}


img{
  margin: 20px;
  box-shadow:7px 0px 7px 0px rgba(255, 255, 255, 0.712);
  border-radius:10%;
}
.name{
  display: flex;
  justify-content: center;
}
.adress{
  display: flex;
  justify-content: center;
}
.contenu{
  text-shadow: 4px 4px 10px red;
  
}
h2{
  margin: 20px;
}
.body{
  display: flex;
  justify-content: center;
  background-color: cadetblue;
}


